<%= form_with(model: flat) do |form| %>
  <% if flat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(flat.errors.count, "error") %> prohibited this flat from being saved:</h2>

      <ul>
        <% flat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price_per_night, style: "display: block" %>
    <%= form.number_field :price_per_night %>
  </div>

  <div>
    <%= form.label :numbe_of_guests, style: "display: block" %>
    <%= form.number_field :numbe_of_guests %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
